/*header*/
header {
  text-align: center;
  background-color: #c0abab; }
  header .fondoNav {
    background: linear-gradient(to right, #47413b, #e9e0e0);
    width: 100% auto; }
    header .fondoNav .logonav {
      width: 20%;
      margin: 10px;
      padding: 3px;
      border-radius: 50%;
      display: flex;
      align-content: flex-end;
      justify-content: flex-start; }
    header .fondoNav .navBoton {
      border: none; }
      header .fondoNav .navBoton:focus {
        box-shadow: none; }
    header .fondoNav .miBarra li a {
      color: #ffff;
      padding: 10px;
      margin: 10px;
      font-weight: bold;
      font-size: 1.5rem; }
      header .fondoNav .miBarra li a:hover {
        background-color: #c0abab;
        border-radius: 15px; }
  header .titulo h1 {
    color: #47413b;
    text-shadow: 0 0 20px #ffff;
    text-align: center;
    font-style: bold;
    font-size: 2.5rem;
    margin: 10px; }
  header .titulo h2 {
    font-size: 1.8rem;
    font-style: italic;
    text-align: center;
    padding: 10px;
    color: white; }
  @media screen and (max-width: 480px) {
    header .orientacion {
      display: flex;
      flex-direction: row; } }

/*footer*/
footer {
  background-color: #c0abab; }
  footer .logoFooter {
    width: 100px;
    border-radius: 50%;
    padding: 5px;
    margin: 5px; }
  footer .iconos .redes {
    width: 30px; }
  footer .iconos .textoFooter {
    font-size: 1.2rem; }
  footer .menufooter {
    list-style: none;
    margin: 7px auto;
    text-align: center; }
    footer .menufooter li {
      display: inline-block;
      text-align: center; }
      footer .menufooter li a {
        padding: 7px;
        margin: 7px;
        text-decoration: none;
        display: inline-block;
        text-align: center;
        color: black;
        font-size: 1.5rem; }

/*index*/
main {
  text-align: center; }
  main .grillaContainer {
    justify-content: center;
    width: 100%;
    margin: auto;
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "uno lista dos"; }
    main .grillaContainer .caja {
      align-content: center;
      justify-content: center;
      width: 100% auto; }
    main .grillaContainer .uno {
      grid-area: uno;
      align-self: center;
      justify-self: center; }
      main .grillaContainer .uno .nails {
        box-shadow: 0 0 15px #ffff; }
    main .grillaContainer .lista {
      grid-area: lista;
      align-self: center;
      justify-self: center;
      width: 60%;
      box-shadow: 0 0 15px #ffff;
      background-color: #e9e0e0; }
      main .grillaContainer .lista .listaItem {
        background-color: #e9e0e0;
        font-size: 1.5rem; }
    main .grillaContainer .dos {
      grid-area: dos;
      border-radius: 20px;
      justify-content: center;
      align-content: center; }
      main .grillaContainer .dos .video {
        width: 55%;
        border-radius: 10px;
        align-self: center;
        justify-self: center;
        box-shadow: 0 0 15px #ffff;
        transition: all 2s; }
        main .grillaContainer .dos .video:hover {
          transform: scale(1.1, 1.1); }
  @media screen and (max-width: 768px) {
    main .grillaContainer {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "uno lista" "dos dos"; }
    main .titulo {
      font-size: 1.5rem;
      height: auto;
      flex-direction: column;
      text-align: center; } }
  @media screen and (max-width: 480px) {
    main .grillaContainer {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: "uno" "lista" "dos"; }
    main .titulo {
      font-size: 1;
      height: auto;
      flex-direction: column;
      text-align: center; } }

/*servicios.html*/
main .tituloServicio {
  font-size: 2rem;
  font-weight: bold; }

main .cards {
  box-shadow: 0 0 20px #ffff;
  transition: all 2s; }
  main .cards:hover {
    transform: scale(1.1, 1.1); }
  main .cards .botonCard {
    background-color: #e9e0e0;
    color: #47413b;
    font-weight: bold; }

/*quienesomos*/
main .quienSoy {
  display: grid;
  justify-content: center;
  align-content: center;
  width: 100%;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "texto1 perfil" "texto2 texto2"; }
  main .quienSoy .soy {
    margin: 10px auto;
    padding: 10px;
    justify-items: center;
    align-items: center;
    width: 100%; }
    main .quienSoy .soy h3 {
      font-size: 2rem; }
  main .quienSoy .texto1 {
    grid-area: texto1;
    text-align: center;
    align-self: center;
    justify-self: center;
    font-size: 1.5rem;
    margin: 20px auto;
    padding: 10px;
    width: 100%;
    background-color: #e9e0e0; }
  main .quienSoy .perfil {
    grid-area: perfil;
    width: 80%;
    border-radius: 50%;
    margin: 10px;
    padding: 10px;
    align-self: center;
    justify-self: center; }
  main .quienSoy .texto2 {
    grid-area: texto2;
    font-size: 1.5rem;
    text-align: center;
    align-self: center;
    justify-self: center;
    margin: 10px;
    padding: 10px;
    width: 100%;
    background-color: #e9e0e0; }

@media screen and (max-width: 768px) {
  main .quienSoy {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "texto1 texto1" "perfil perfil" "texto2 texto2"; } }

@media screen and (max-width: 480px) {
  main .quienSoy {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "texto1" "perfil" "texto2"; } }

/*turnos*/
main .salonPadre {
  display: grid;
  width: 100%;
  margin: 10px;
  padding: 10px;
  justify-content: center;
  align-content: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr 2fr;
  grid-template-areas: "nuestro nuestro" "parrafo1 ubicacion" "parrafo2 ubicacion"; }
  main .salonPadre .salon {
    justify-content: center;
    align-content: center; }
  main .salonPadre .nuestro {
    grid-area: nuestro;
    justify-items: center;
    align-items: center;
    text-align: center; }
    main .salonPadre .nuestro h3 {
      font-size: 2rem;
      font-weight: bold;
      justify-items: center;
      align-items: center;
      text-align: center; }
  main .salonPadre .parrafo1 {
    grid-area: parrafo1;
    justify-items: center;
    align-items: center; }
    main .salonPadre .parrafo1 h3 {
      font-size: 1.5rem;
      font-weight: bold;
      justify-items: center;
      align-items: center; }
    main .salonPadre .parrafo1 p {
      justify-items: center;
      align-items: center;
      font-size: 1.5rem;
      text-align: center; }
  main .salonPadre .parrafo2 {
    grid-area: parrafo2;
    justify-items: center;
    align-items: center;
    font-size: 1.5rem; }
    main .salonPadre .parrafo2 p {
      font-weight: bold; }
    main .salonPadre .parrafo2 .linkWhatsapp {
      width: 12%;
      animation-name: anima;
      animation-iteration-count: infinite;
      animation-duration: 3s; }
  main .salonPadre .ubicacion {
    grid-area: ubicacion;
    justify-items: center;
    align-items: center; }
    main .salonPadre .ubicacion h3 {
      font-size: 1.5rem;
      font-weight: bold; }
    main .salonPadre .ubicacion .maps {
      width: 50vh;
      height: 50vh;
      border: solid 5px #c0abab; }

@keyframes anima {
  0% {
    width: 12%; }
  50% {
    width: 14%; }
  100% {
    width: 12%; } }

@media screen and (max-width: 768px) {
  main .salonPadre {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 2fr;
    grid-template-areas: "nuestro nuestro" "parrafo1 parrafo2" "ubicacion ubicacion"; } }

@media screen and (max-width: 480px) {
  main .salonPadre {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr 1fr 2fr;
    grid-template-areas: "nuestro" "parrafo1" "parrafo2" "ubicacion"; } }

/*contacto*/
main .padreContacto {
  display: grid;
  justify-content: center;
  align-items: center;
  width: auto;
  padding: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 3fr;
  grid-template-areas: "div1 div1 div1" "div2 formulario div3"; }
  main .padreContacto .contacto {
    width: auto; }
  main .padreContacto .div1 {
    grid-area: div1; }
  main .padreContacto .formulario {
    grid-area: formulario;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #e9e0e0;
    border-radius: 3px;
    border: solid 3px #c0abab;
    justify-self: center;
    align-self: center;
    text-align: center;
    color: #47413b;
    outline: none;
    font-size: 1.2rem;
    font-weight: bold; }
    main .padreContacto .formulario .formItem {
      flex-direction: column;
      outline: none;
      margin: 10px;
      border: solid 2px #c0abab;
      background-color: #e9e0e0; }
    main .padreContacto .formulario .botones {
      background-color: #c0abab;
      border: 0;
      padding: 4px;
      color: white; }
  main .padreContacto .div2 {
    grid-area: div2; }
    main .padreContacto .div2 .fotoUltima {
      width: 70%;
      margin: 3px;
      padding: 3px;
      justify-content: center;
      align-items: center;
      text-align: center;
      box-shadow: 0 0 8px #ffff; }
  main .padreContacto .div3 {
    grid-area: div3; }
    main .padreContacto .div3 h3 {
      text-align: center;
      font-weight: bold;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-name: aparece; }
    main .padreContacto .div3 .listaContacto {
      list-style: none; }
      main .padreContacto .div3 .listaContacto li {
        text-decoration: none;
        text-align: center; }
        main .padreContacto .div3 .listaContacto li a {
          text-decoration: none;
          text-align: center;
          color: #47413b;
          font-size: 1.5rem; }
          main .padreContacto .div3 .listaContacto li a:hover {
            background-color: #c0abab;
            color: black; }

@keyframes aparece {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@media screen and (max-width: 768px) {
  main .padreContacto {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr 2fr;
    grid-template-areas: "div1 div1"  "div2 formulario"  "div3 div3"; } }

@media screen and (max-width: 480px) {
  main .padreContacto {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr 1fr;
    grid-template-areas: "div1"  "formulario"  "div2"  "div3"; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Farsan-Regular";
  background-image: url(../img/fondo-textura-pizarra-marmol-purpura.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed, scroll;
  width: 100% auto; }

@font-face {
  font-family: "Farsan-Regular";
  src: url("../fuente/Farsan/Farsan-Regular.ttf"); }
