/*index*/
main {
    text-align: center;

    .grillaContainer {
        justify-content: center;
        width: 100%;
        margin: auto;
        justify-items: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "uno lista dos";

        .caja {
            align-content: center;
            justify-content: center;
            width: 100% auto;
        }

        .uno {
            grid-area: uno;
            align-self: center;
            justify-self: center;

            .nails {
                box-shadow: 0 0 15px $color-iluminaciones;
            }
        }

        .lista {
            grid-area: lista;
            align-self: center;
            justify-self: center;
            width: 60%;
            box-shadow: 0 0 15px $color-iluminaciones;
            background-color: $color-rosado;

            .listaItem {
                background-color: $color-rosado;
                font-size: 1.5rem;
            }
        }

        .dos {
            grid-area: dos;
            border-radius: 20px;
            justify-content: center;
            align-content: center;

            .video {
                width: 55%;
                border-radius: 10px;
                align-self: center;
                justify-self: center;
                box-shadow: 0 0 15px $color-iluminaciones;
                transition: all 2s;

                &:hover {
                    transform: scale(1.1, 1.1);
                }
            }
        }
    }

    @media screen and (max-width: 768px) {
        .grillaContainer {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-template-areas:
                "uno lista"
                "dos dos";
        }

        .titulo {
            font-size: 1.5rem;
            height: auto;
            flex-direction: column;
            text-align: center;
        }
    }

    @media screen and (max-width: 480px) {
        .grillaContainer {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-areas:
                "uno"
                "lista"
                "dos";
        }

        .titulo {
            font-size: 1;
            height: auto;
            flex-direction: column;
            text-align: center;
        }
    }
}